* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {background-color: white;
      font-family: sans-serif;
      padding: 10px;
}
.header{
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    font-size: 30px;
    color:black;
    text-align:right;
}
.janee a:hover{
    color:royalblue;
}
.links{
    overflow: hidden;
    background-color:slategray;
    color:black;
    position: static;
    text-align: right;
    top: 0;
    font-family: 'Open Sans', sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 25px;
}

li a {color: white;text-decoration: none;}

.links ul li {
    display: inline-block; 
    margin-left: 40px;
    margin-right: 40px;
}

.links a:hover{
    color: black;
}
#layer2{
    z-index: 20;
    border-radius: 50%;
    border: 5px solid black;
    position: absolute;
    top: 60px;
    left: 0px;
}
.row {
    display:flex;
    flex-wrap: wrap;
}
.side {
    flex: 30%;
    background-color: lightgray;
    padding: 20px;
    margin-bottom: 20px;
}
.side:hover{
    background-color:darkgray;
}
.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
}
.mountains img{
    display:inline-block;
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    height: 800px;
    flex: 70%;
    border: 5px solid #555;
    box-sizing: border-box;
}
.mountains:hover {
    opacity: 0.3;
}
.work img{
    flex: 70%; 
    box-sizing: border-box; 
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 50px;
    border: 5px solid #555;
}
.work img:hover{
    opacity: 0.3;
}
.container{
    position: relative;
}
.content h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
}
.content p{
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-flex;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
.footer h3{
    box-sizing: border-box;
    text-align: left;
    background-color: white;
    color: black;
    font-size: 40px;
    flex: 100%;
    padding: 20px;
}
.vl h3{
    margin-top: 20px;
    border-right: solid gray 3px;
}
.contact ul li {
    display: inline-block; 
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}
.contact li:hover{
    font-weight: bold;
    border-bottom: solid black 3px;
}
